
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300..700&display=swap');

body {
  font-family: Quicksand, Arial;
  margin: 0;
  padding: 0;
  height: auto;
}


a {
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  justify-content: space-between;

  background-color: burlywood;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-left-side {
  display: flex;
  align-items: center;
}

.navbar-left-side-logo {
  width: 50px;
  border-radius: 50px;
}

.navbar-side-bar-name {
  margin-left: 10px;
}

.navbar-side-bar-name {
  font-size: 30px;
  font-weight: 500;
}

.banner {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  align-items: center;
  background-color: rgb(255, 224, 235);
  height: 100vh;
}

.banner-logo {
  width: 350px;
  border-radius: 1000px;
}

.banner-brand-name,
.banner-tagline {
  font-family: Pacifico;
}

.banner-brand-name {
  font-size: 150px;
  margin-bottom: 200px;
  color: #6f4e37;
}

.banner-tagline {
  font-size: 40px;
  font-weight: normal;
  color: rgb(182, 133, 141);
  text-align: center;
  font-family: Quicksand;
}

.banner-left-side {
  padding-right: 200px;
}

/*FOR RESPONSIVE DESIGN*/
@media (max-width: 1700px) and (min-width: 1549px) {
  .banner-brand-name {
    font-size: 130px;
  }
}

@media (max-width: 1548px) and (min-width: 1465px) {
  .banner-brand-name {
    font-size: 120px;
    margin-bottom: 100px;
  }

  .banner-tagline {
    font-size: 25px;
  }
}

@media (max-width: 1464px) and (min-width: 1375px) {
  .banner-brand-name {
    font-size: 110px;
    margin-bottom: 100px;
  }

  .banner-tagline {
    font-size: 20px;
  }
}

@media (max-width: 1374px) and (min-width: 1300px) {
  .banner-brand-name {
    font-size: 100px;
    margin-bottom: 100px;
  }

  .banner-tagline {
    font-size: 20px;
  }
}

@media (max-width: 1299px) and (min-width: 1230px) {
  .banner-brand-name {
    font-size: 90px;
    margin-bottom: 50px;
  }

  .banner-tagline {
    font-size: 20px;
  }
}

@media (max-width: 1229px) and (min-width: 1150px) {
  .banner-brand-name {
    font-size: 80px;
    margin-bottom: 30px;
  }

  .banner-tagline {
    font-size: 20px;
  }
}

@media (max-width: 1149px) and (min-width: 551px) {
  .banner-brand-name {
    font-size: 80px;
    margin-bottom: 30px;
  }

  .banner-tagline {
    font-size: 20px;
  }

  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }

  .banner-left-side {
    padding-right: 0;
  }

  .banner-logo {
    width: 300px;
    margin-top: 50px;
  }
}

@media (max-width: 550px) and (min-width: 450px) {
  .banner-brand-name {
    font-size: 55px;
    margin-bottom: 30px;
  }

  .banner-tagline {
    font-size: 20px;
  }

  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }

  .banner-left-side {
    padding-right: 0;
  }

  .banner-logo {
    width: 300px;
    margin-top: 50px;
  }
}

@media (max-width: 449px) and (min-width: 1px) {
  .banner-brand-name {
    font-size: 50px;
    margin-bottom: 0px;
  }

  .banner-tagline {
    font-size: 16px;
  }

  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }

  .banner-left-side {
    padding-right: 0;
  }

  .banner-logo {
    width: 300px;
    margin-top: 0;
    margin-bottom: 50px;
  }
}

